body {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    margin: 0;
}

.web-stitch {
    font-family: -apple-system, "system-ui", sans-serif;
    position: relative;
}

.web-stitch button {
    border: none;
    background: none;
    cursor: pointer;
}

.web-stitch > .top-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-color: rgb(248, 248, 248);
    color: rgb(139, 148, 158);
    border-bottom: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 0 5px;
}

.top-controls .open-folder-button {
    color: black;
    padding: 0 10px;
    line-height: 34px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.15s ease-in-out;
}

.top-controls .open-folder-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.web-stitch > .content-container {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .resizeable-panels {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.web-stitch .resizeable-panels > div {
    position: absolute;
}

.web-stitch .resizeable-panels > .panel {
    overflow: scroll;
}

.web-stitch .resizeable-panels > .merged-boundary-x-knob,
.web-stitch .resizeable-panels > .boundary-x-knob {
    width: 8px;
    cursor: ew-resize;
    transform: translateX(-50%);
}

.web-stitch .resizeable-panels > .merged-boundary-y-knob,
.web-stitch .resizeable-panels > .boundary-y-knob {
    height: 8px;
    cursor: ns-resize;
    transform: translateY(-50%);
}

.web-stitch .resizeable-panels > .intersection-xy-knob {
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    transform: translate(-50%, -50%);
}

.web-stitch .resizeable-panels > .boundary-x {
    width: 4px;
    transform: translateX(-50%);
}

.web-stitch .resizeable-panels > .boundary-y {
    height: 4px;
    transform: translateY(-50%);
}

.web-stitch .resizeable-panels > .boundary-y,
.web-stitch .resizeable-panels > .boundary-x {
    opacity: 0;
    background-color: rgba(3, 150, 218, 0.8);
    transition: opacity 0.15s ease-in-out;
}

.web-stitch .resizeable-panels > .boundary-y.hover-merged,
.web-stitch .resizeable-panels > .boundary-x.hover-merged,
.web-stitch .resizeable-panels > .boundary-y.hover-boundary,
.web-stitch .resizeable-panels > .boundary-x.hover-boundary,
.web-stitch .resizeable-panels > .boundary-y.hover-intersection,
.web-stitch .resizeable-panels > .boundary-x.hover-intersection {
    opacity: 1;
}

.web-stitch .file-browser {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    border-right: 1px solid rgb(221, 221, 221);
}

.web-stitch .file-browser .scrollable-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;   
}

.web-stitch .file-browser .entries-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.web-stitch .file-browser .entries-container .file-browser-entry {
    position: absolute;
    height: 20px;
    width: 100%;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .file-browser .entries-container .file-browser-entry:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.web-stitch .file-browser .entries-container .file-browser-entry.selected {
    background-color: #d7daef;
}

.web-stitch .file-browser .file-browser-entry .name {
    flex: 1;
    line-height: 20px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 12px;
    user-select: none;
}

.web-stitch .log-tray {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgb(221, 221, 221);
}

.web-stitch .log-tray .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: rgb(248, 240, 255);
    color: rgb(139, 148, 158);
    border-bottom: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 0 5px;
    
}

.web-stitch .log-tray .controls .clear-log-button {
    color: black;
    padding: 0 10px;
    line-height: 28px;
    font-size: 14px;
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .log-tray .controls .clear-log-button:hover {
    background-color: rgb(236, 218, 251);
}

.web-stitch .log-tray .scrollable-area {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px; 
}

.web-stitch .log-tray .scrollable-area .log-entry {
    position: relative;
    padding: 2px 10px;
    display: grid;
    grid-template-columns: 100px auto;
}

.web-stitch .log-tray .scrollable-area .log-entry .timestamp {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    color: rgb(139, 148, 158);
    user-select: text;
    grid-column: 1;
}

.web-stitch .log-tray .scrollable-area .log-entry .message {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    user-select: text;
    grid-column: 2;
}

.web-stitch .log-tray .scrollable-area .log-entry.error {
    background-color: rgba(255, 0, 0, 0.1);
}

.web-stitch .log-tray .scrollable-area .log-entry.warn {
    background-color: rgba(255, 255, 0, 0.1);
}

.web-stitch .pane-collection {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .pane-collection .pane-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: rgb(212, 212, 212);
    border-bottom: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 0 5px;
}

.web-stitch .pane-collection .pane-menu .scrollable-menu-area {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    height: 55px;
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item {
    position: relative;
    top:0px;
    height: 35px;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    border-right: 1px solid rgb(221, 221, 221);
    display: grid;
    grid-template-columns: 20px auto 20px;
    gap: 5px;
    flex-shrink: 0;
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item.active {
    background-color: white;
    border-top: 1px solid rgb(221, 221, 221);
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item .name {
    flex: 1;
    grid-column: 2;
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    user-select: none;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item .close-button {
    display: flex;
    align-items: center;
    font-family: -apple-system, "system-ui", sans-serif;
    justify-content: center;
    grid-column: 3;
    font-size: 14px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    user-select: none;
}

.web-stitch .pane-collection .scrollable-menu-area .menu-item .close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .pane-collection .content-area {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(212, 212, 212);
}

.web-stitch .pane-collection .content-area .content-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: white;
}

.web-stitch .viewer3d {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .viewer3d .image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .viewer3d .image-container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}

.web-stitch .viewer3d .controls {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 35px;
    background-color: rgba(248, 248, 248, 0.4);
}


.web-stitch .viewer3d .controls input.slice-slider {
    position: absolute;
    left: 120px;
    top: 5px;
    width: calc(100% - 140px);
}

.web-stitch .viewer3d .controls .slice-direction-buttons {
    position: absolute;
    left: 10px;
    top: 5px;
    display: flex;
    gap: 5px;
}

.web-stitch .viewer3d .controls .slice-direction-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .viewer3d .controls .slice-direction-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .viewer3d .info-panel {
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    display: flex;
    gap: 5px;
}

.web-stitch .viewer3d .info-panel .slice-index-display {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
}

.web-stitch .viewer3d .info-panel .position-value-display {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
}




.web-stitch .stitch-visualizer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .stitch-visualizer .image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.web-stitch .stitch-visualizer .image-container .image,
.web-stitch .stitch-visualizer .image-container .main-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
}

.web-stitch .stitch-visualizer .image-container .interactive-tile {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    box-sizing: border-box;
}

.web-stitch .stitch-visualizer .image-container .interactive-tile:hover {
    opacity: 1;
    z-index: 4;
}

.web-stitch .stitch-visualizer .image-container .interactive-tile.collide {
    opacity: 1;
    border: 2px solid rgba(0, 255, 0, 0.25);
}

.web-stitch .stitch-visualizer .image-container .interactive-tile.editing {
    opacity: 1;
    border: 2px solid rgba(0, 0, 255, 0.25);
}

.web-stitch .stitch-visualizer .image-container .interactive-tile .tile-label {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    border: 1px solid rgb(221, 221, 221);
    pointer-events: none;
    min-width: fit-content;
    white-space: nowrap;
    display: none;
}

.web-stitch .stitch-visualizer .image-container .interactive-tile:hover .tile-label {
    display: block;
}


.web-stitch .stitch-visualizer .image-container .main-canvas {
    opacity: 1;
    z-index: 2;
}

.web-stitch .stitch-visualizer .controls {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 35px;
    background-color: rgba(248, 248, 248, 0.4);
    z-index: 10;
}

.web-stitch .stitch-visualizer .controls input.slice-slider {
    position: absolute;
    left: 120px;
    top: 5px;
    width: calc(100% - 140px);
}

.web-stitch .stitch-visualizer .controls .slice-direction-buttons {
    position: absolute;
    left: 10px;
    top: 5px;
    display: flex;
    gap: 5px;
}

.web-stitch .stitch-visualizer .controls .slice-direction-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .stitch-visualizer .controls .slice-direction-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .stitch-visualizer .controls .slice-direction-buttons button.active {
    background-color: rgba(189, 255, 227, 0.4);
}

.web-stitch .stitch-visualizer .info-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.web-stitch .stitch-visualizer .info-panel .slice-index-display {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
}

.web-stitch .stitch-visualizer .info-panel .position-value-display {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
}


.web-stitch .text-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.web-stitch .grid-stitch-setup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    overflow: auto;
    padding: 10px 20px;
}

.web-stitch .grid-stitch-setup .tile-table-scroll {
    display: block;
    overflow: auto;
    max-height: 300px;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
}

.web-stitch .grid-stitch-setup table.tile-table {
    border-collapse: collapse;
    width: 100%;
}

.web-stitch .grid-stitch-setup table.tile-table thead {
    background-color: rgb(248, 248, 248);
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 10;
}

.web-stitch .grid-stitch-setup table.tile-table thead th {
    padding: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: left;
    cursor: pointer;
}

.web-stitch .grid-stitch-setup table.tile-table thead th.sorted-asc {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .grid-stitch-setup table.tile-table thead th.sorted-desc {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .grid-stitch-setup table.tile-table thead th.sorted-asc::after {
    content: "▲";
}

.web-stitch .grid-stitch-setup table.tile-table thead th.sorted-desc::after {
    content: "▼";
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr {
    border-bottom: 1px solid rgb(221, 221, 221);
    position: relative;
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr .remove-button {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px;
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr:hover .remove-button {
    display: block;
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr:hover .remove-button:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr td {
    padding: 5px;
}

.web-stitch .grid-stitch-setup table.tile-table tbody tr.sortable-chosen {
    background-color: rgba(0, 0, 0, 0.1);
}

.web-stitch .grid-stitch-setup .grid-preview,
.web-stitch .grid-stitch-setup .prior-preview-ctn
{
    position: relative;
    min-width: 600px;
    width: 75%;
    height: 500px;
    border: 1px solid rgb(221, 221, 221);
}

.web-stitch .grid-stitch-setup .generate-grid-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .grid-stitch-setup .generate-grid-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.web-stitch .grid-stitch-setup .input-ctn {
    display: flex;
    gap: 5px;
}

.web-stitch .grid-stitch-setup .input-ctn .slider {
    width: 50%;
    min-width: 100px;
}

.web-stitch .grid-stitch-setup .input-ctn label {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.web-stitch .grid-stitch-setup .input-ctn input {
    font-family: -apple-system, "system-ui", sans-serif;
    font-size: 14px;
    padding: 5px;
}

.web-stitch .grid-stitch-setup .button-list {
    display: flex;
    gap: 5px;
}

.web-stitch .grid-stitch-setup .button-list button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .grid-stitch-setup .button-list button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.web-stitch .grid-stitch-setup .save-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease-in-out;
}

.web-stitch .grid-stitch-setup .save-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}